/* src/styles.css */

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #d88ec1;
  }
  
  .card {
    background-color: #dab6d3;
    border: 1px solid #bd93ac;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
  }
  
  .card h3 {
    margin: 0;
    color: #f2d6e3;
  }
  
  .card p {
    color: #f5c4e0;
  }

  